{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_container %}
    {{ parent() }}
        {% block buy_widget_inquiry_form %}
            {% set dasformMaster = config('SvenDasForm.config.show') %}

            {% set dasformOwnCf = page.product.translated.customFields ?? {} %}
            {% set dasformParentCf = page.product.parent.translated.customFields ?? {} %}

            {% set dasformProductActive = dasformOwnCf.sven_dasform_active ?? dasformParentCf.sven_dasform_active ?? false %}

            {% if dasformMaster and dasformProductActive %}
                {% set dasformButtonText = (dasformOwnCf.sven_dasform_button_text ?? dasformParentCf.sven_dasform_button_text ?? '')|trim %}
                {% set dasformSubject = (dasformOwnCf.sven_dasform_subject ?? dasformParentCf.sven_dasform_subject ?? '')|trim %}
                {% set dasformLabel = dasformButtonText is not empty ? dasformButtonText : 'Produktanfrage' %}

                <div style="height:10px"
                     data-dasform-contact-inject
                     data-dasform-action="{{ path('sven.dasform.inquiry.send') }}"
                     data-dasform-product-name="{{ page.product.translated.name }}"
                     data-dasform-inquiry-text="{{ dasformButtonText }}"
                     data-dasform-inquiry-subject="{{ dasformSubject }}"></div>

                {% set modalUrl = path('frontend.cms.page', {
                    id: config('core.basicInformation.contactPage'),
                    productName: page.product.translated.name,
                    productId: page.product.id,
                    inquiryText: dasformButtonText,
                    inquirySubject: dasformSubject
                }) %}

                <a href="{{ modalUrl }}"
                   data-ajax-modal="true"
                   data-url="{{ modalUrl }}"
                   class="btn btn-primary btn-buy produktanfrage w-100">
                    {{ dasformLabel }}
                </a>
            {% endif %}
        {% endblock %}
{% endblock %}
